# AWS
AWS_REGION="eu-west-2"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# Cloudflare
CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_DEFAULT_ACCOUNT_ID=""

# Tomorrow.io
WEATHER_API_KEY=""

# Sentry
SENTRY_AUTH_TOKEN=""

# Posthog
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""
